QGroupBox {
	border: 1px solid #cccccc; 
	border-radius: 5px; 
	margin-top: 8px;
}

QGroupBox::title {
	margin-top: -22px;
	left: 10px;
	padding:5px;
}	
QRadioButton::indicator {
	width: 11px; 
	height: 11px; 
	border-radius: 5px;
} 
QRadioButton::indicator::unchecked {
    border: 1px solid;
	border-color: #848484;
	border-radius: 5px;
	background-color: white; 
    width: 11px;
	height: 11px; 
} 

QRadioButton::indicator::checked {
    border: 3px solid;
	border-color: #0074bc;
	border-radius: 6px;
	background-color: white; 
    width: 7px;
	height: 7px; 
} 